body{
  background-color: #b3ccff;
}
.headimg {
margin-left: 150px;
}

.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.categs{
  margin-left: 75px;
}
.categs h1{
  margin-left: 450px;
}
